<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Add</title>
    <script src="{{ url_for('static', filename='lib/jquery-1.12.4.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/layui/layui.all.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/layui/css/layui.css') }}">
</head>
<body>
<div style="height: 230px;  width: 400px; text-align: center; position: relative; margin-top: 15%; margin-left: 50%; left: -200px; background: #ccc8c2;"
     class="layui-col-md4">
    <div class="layui-col-md12" style="font-size: 20px;margin-bottom: 10px; margin-top: 20px;">User Add</div>
    <div class="layui-col-md12"><input type="text" id="user" name="user" placeholder="input user" class="layui-input"
                                       style="width: 300px; display: inline-block; margin-bottom: 20px"></div>

    <div class="layui-col-md12" style="position: relative">
        <button class="layui-btn" id="add_btn">Add</button>
    </div>

</div>

</body>
</html>
<script>
    $(function () {
        $('#add_btn').click(function () {
            $.get('/admin_add_user/', {user: $('#user').val()}, function (res) {
                if (res.code === 0) {
                    layer.msg(res.msg)
                    setTimeout(function () {
                        window.location.href = '/admin/'
                    }, 1000)
                } else {
                    layer.msg(res.msg)
                }
            })
        })
    })
</script>