<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage</title>
    <script src="{{ url_for('static', filename='lib/jquery-1.12.4.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/layui/layui.all.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/layui/css/layui.css') }}">
</head>
<body>
<div class="layui-main">
<div class="layui-col-md12" style="margin-bottom: 20px;">
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item" style="right: -1000px; "><a href="/">logout</a></li>
    </ul>
</div>
    <div class="layui-col-md12">
        <button class="layui-btn"><a href="/admin_add/">AddUser</a></button>
    </div>
    <div class="layui-col-md12">
        <table class="layui-table">
            <tr>
                <th>user</th>
                <th>pwd</th>
                <th>ID</th>
            </tr>
            {% for user in admin_data %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.pwd }}</td>
                    <td>
                        {% for f in user.selects %}
                            <a href="javascript:;"
                                class="tc"
                                x='{{ f.pbde_x | tojson }}'
                                y='{{ f.pbde_y | tojson }}'
                                sel="{{ f.selection }}"
                                >
                                {{ f.cid }}</a>|
                        {% endfor %}

                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>


</body>
</html>


<script>
    $(function () {
        $('.tc').click(function () {
            var x = JSON.parse($(this).attr('x'))
            var y = JSON.parse($(this).attr('y'))
            var sel = $(this).attr('sel')
            console.log('sel,x,y', sel, x, y)
            var index = layer.open({
                type: 1,
                area: ['auto', 'auto'],
                title: 'View',
                btn: ['determine'],
                content: '<div class="layui-col-md4" style="height: 100px; width: 400px; margin-bottom: 20px;">\n' +
                        '<br>\n' +
                    '    <div class="layui-col-md12">Opinion A: <sapn>' + x.id + '-> ' + x.title + '</sapn></div>\n' +
                        '<br>\n' +
                    '    <div class="layui-col-md12">Opinion B: <sapn>'+ y.id + '-> ' + y.title + '</sapn></div>\n' +
                        '<br>\n' +
                    '    <div class="layui-col-md12">user selection: <sapn>'+sel+'</sapn></div>\n' +
                    '</div>'

            });
        })
    })
</script>