<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="{{ url_for('static', filename='lib/jquery-1.12.4.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/layui/layui.all.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/layui/css/layui.css') }}">
</head>
<body>

<div style="height: 230px;  width: 400px; text-align: center; position: relative; margin-top: 15%; margin-left: 50%; left: -200px; background: #ccc8c2;"
     class="layui-col-md4">
    <div class="layui-col-md12" style="font-size: 20px;margin-bottom: 10px; margin-top: 20px;">User Login</div>
    <div class="layui-col-md12"><input type="text" id="user" placeholder="input user" class="layui-input"
                                       style="width: 300px; display: inline-block; margin-bottom: 20px"></div>
    <div class="layui-col-md12"><input type="password" id="pwd" placeholder="input pwd" class="layui-input"
                                       style="width: 300px; display: inline-block; margin-bottom: 20px;"></div>
    <div class="layui-col-md12" style="position: relative">
        <button class="layui-btn" id="login_btn">Login</button>
    </div>

</div>


</body>
</html>
<script>
    $(function () {
        var layer = layui.layer;
        $('#login_btn').click(function () {
            var user = $('#user').val();
            var pwd = $('#pwd').val();
            console.log(pwd, name);
            if (user.length === 0) {
                layer.msg('Please enter a valid username')
                return ''
            } else if (pwd.length === 0) {
                layer.msg('Please enter a valid password')
                return ''
            } else {
                $.get('/user_login/', {'user': user, 'pwd': pwd}, function (res) {
                    if (res.code === 0) {
                        layer.msg(res.msg);
                        if (res.isAdmin) {
                            window.location.href = '/admin/'
                        } else {
                            window.location.href = '/user/'

                        }
                    } else {
                        layer.msg(res.msg)
                    }
                })
            }
        })
    })
</script>
