<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Quest</title>
    <script src="{{ url_for('static', filename='lib/jquery-1.12.4.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/layui/layui.all.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/layui/css/layui.css') }}">
    <style>
        .c {
            height: 300px;
            text-align: center;
            background: #f3fae9;
        }

        .c .title {
            background: #24a4c2;
            line-height: 30px;

            margin-bottom: 20px;
        }

        .r {
            width: 300px;
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="layui-main">
<div class="layui-col-md12" style="margin-bottom: 20px;">
    <ul class="layui-nav" lay-filter="">
        <li class="layui-nav-item" style="right: -1000px; "><a href="/">logout</a></li>
    </ul>
</div>

    <div class="layui-col-md12 cid">
        <div class="layui-col-md4 c layui-col-md-offset1">
            <div class="layui-col-md12 title">{{ x.title }}</div>
            <div class="layui-col-md12 a1">{{ x.description }}</div>
        </div>
        <div class="layui-col-md4 layui-col-md-offset2 c">
            <div class="layui-col-md12 title">{{ y.title }}</div>
            <div class="layui-col-md12 a2">{{ y.description }}</div>
        </div>
    </div>
    <div class="layui-col-md12" style="text-align: center;">
      <select id="chosen">
        <option value="No relation">No relation</option>
        <option value="1 is part of 2 (help to achieve)">1 is part of 2 (help to achieve)</option>
        <option value="1 composed of 2 (can be achieve by)">1 composed of 2 (can be achieve by)</option>
      </select>
      <input type="hidden" id="cid-value" value="{{cid}}">
      <input type="hidden" id="user_select_count" value="{{user_select_count}}">
    </div>
    <div class="layui-col-md12" style="text-align: center; margin-top: 40px;">
        {% if user_select_count < 5 %}
        <button class="layui-btn" id="next">next and submit</button>
        {% else %}
        <button class="layui-btn" id="over">over</button>
        {% endif %}
    </div>
</div>
</body>
</html>
<script>
    $(function () {
        $('#next').click(function () {
                sel = $('#chosen').val();
                cid = $('#cid-value').val();
                console.log(sel);
                console.log(cid);

                if (cid && sel) {
                    $.get('/user_tj/', {cid: cid, sel: sel}, function (res) {
                        console.log(res.msg)
                    })
                    window.location.reload();
                }
            }
        )
    })
</script>
